---
import PackingLists from "../../components/PackingLists"
import { PackHeader } from "../../components/PackHeader"
import PageHead from "../../components/PageHead.astro"
const { tripid } = Astro.params
const resp = await fetch(`https://api.packstack.io/trip/info/${tripid}`)
const data = await resp.json()
---

<html lang="en">
  <PageHead title={`${data.trip.location} :: Packstack`} />
  <body>
    <div class="mx-auto mt-4 max-w-4xl px-4">
      <PackHeader trip={data.trip} user={data.user} />
      <PackingLists packs={data.packs} />
    </div>
  </body>
</html>
