---
import PackingLists from "../../components/PackingLists"
import { PackHeader } from "../../components/PackHeader"
import BaseLayout from "../../layouts/BaseLayout.astro"
import PageHeader from "../../components/PageHeader.astro"
import PageFooter from "../../components/PageFooter.astro"
const { tripid } = Astro.params
const resp = await fetch(`https://api.packstack.io/trip/meta/${tripid}`)
const data = await resp.json()
---

<BaseLayout title={`${data.trip.location} :: Packstack`}>
  <div class="bg-background">
    <PageHeader maxWidth="6xl" />

    <div class="mx-auto mt-8 max-w-6xl px-4 md:px-8 pb-8">
      <PackHeader trip={data.trip} user={data.user} />
      <PackingLists tripId={data.trip.id} client:load />
    </div>

    <PageFooter />
  </div>
</BaseLayout>
